<!DOCTYPE html>
<html>

<head>
</head>

<body>
  <table>
    <thead>
      <tr>
        <th scope="col">id unit</th>
        <th scope="col">nama unit</th>
        <th scope="col">simulasi ambil kunci + buka kunci</th>
        <th scope="col">tutup pintu + kembalikan kunci</th>
      </tr>
    </thead>
    <tbody>
      {{d}}
      </tr>
    </tbody>
  </table>
  <table>
    <thead>
      <tr>
        <th scope="col">id mahasiswa</th>
        <th scope="col">id unit</th>
        <th scope="col">nama mahasiswa</th>
      </tr>
    </thead>
    <tbody>
      {{e}}
      </tr>
    </tbody>
  </table>
</body>

</html>
